h1{
    text-align: center;
    text-shadow: 2px 1px 10px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: 50px;
    font-family: cursive; }

body{
    background-color: #484848;
    background-image: url("dbd-background.jpg");
}


.windows-perk{
    position: relative;
    margin-top: 200px;  
    padding: 50px;
}
.empty-box { 
    margin-left: 5px;
    position: relative;
    display: inline-block;
    padding-left: 400px;
    margin-top: 200px;  
    width: 50px;
    left: 15%;;
    
  }

  img.superpose {
    position: absolute;
    top: 25px;
    left: 30px;   
}

.mystery{
    src: url(perk/dbd-mystery.png)
}
button{
    position: relative;
    border: 0;
    line-height: 2.5;
    padding: 5px 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(53, 51, 51, 0.384);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 47%;
    margin-top: 15%;
}
button:hover{
    background-color: rgba(126, 15, 15, 0.712);
}
footer{
    position: fixed;
    bottom: 0%;
    background-color: hsla(50, 1%, 74%, .75); 
     
    text-align: center;
    width: 100%;
}
p.text-footer{
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
}
.p-perk{
    display: inline-block;
    padding-left: 70px;
    margin-top: 300px;
    margin-left: 290px;
    font-size: 20px;
    font-family: "Trirong", serif;
    font-weight: bolder;
    color:antiquewhite;
 
}